{% extends "base.html" %}
{% block language %}{{ section.lang }}{% endblock language %}
{% block content %}
    <h1>{{ section.title }}</h1>

    <div class="markdown-content my-1">
        {{ section.content | safe }}
    </div>

    <ul>
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% if page.extra.speaker %}
                {% set speaker = get_page(path="speakers/" ~ page.extra.speaker ~ ".md") %}
                — {{ speaker.title }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
