{% extends "base.html" %}
{% block language %}{{ section.lang }}{% endblock language %}
{% block content %}
{{ section.content | safe }}
{% set now = now() | date(format="%s") | int %}
{% set events = get_section(path="events/_index.md") %}
    {# Get the 3 most recent events and order them by date, ascending #}
    {% for event in events.pages | sort(attribute="date") | reverse | slice(end=3) | reverse %}
        {% set event_time = event.date | date(format="%s") | int %}
        {% if event_time < now and loop.first %}
            <p>No new events are known. Please check back later.</p>
        {% endif %}
        {% if event_time < now %}
            {% break %}
        {% endif %}
        {% if loop.first %}
            <p>
                The next event takes place on:
            </p>
            <div class="card">
                <table>
                    <tr>
                        <td title="Date of event">📅</td>
                        <td><time datetime="{{ event.date }}">{{ event.date | date(format="%A, %d %B %Y") }}</time></td>
                    </tr>
                    <tr>
                        <td title="Time of event">🕒</td>
                        <td>{{ event.extra.start | default(value="19:00") }} – {{ event.extra.end | default(value="22:00")}}</td>
                    </tr>
                    <tr>
                        <td title="Location of event">📍</td>
                        <td><a href="{{ event.extra.venue.uri }}">{{ event.extra.venue.name }}</a>: {{ event.extra.venue.instructions }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ event.extra.venue.address }}</td>
                    </tr>
                </table>
            </div>
        {% else %}
            {% if loop.index == 2 %}
                <div class="d-flex">
                    <ul class="hl ml-1">Followed by:
            {% endif%}
                        <li>
                            <a href="{{ event.permalink }}">{{ event.date | date(format="%d %B") }}</a>
                        </li>
            {% if loop.last %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {# When no event pages are found #}
    {% else %}
        <p>No new events are known. Please check back later.</p>
    {% endfor %}
{% endblock content %}
