{% extends "base.html" %}
{% import "macros/event.html" as macros %}
{% block language %}en{% endblock language %}
{% block content %}
    <article>
        <header class="my-2">
            <h1>{{ page.title }}</h1>
            {{ macros::event_links(event=page) }}
        </header>

        <div class="markdown-content">
            {{ page.content | safe }}

            {% if page.extra.talks %}
                {% for talk_slug in page.extra.talks %}

                    {% set talk = get_page(path="talks/" ~ talk_slug ~ ".md") %}
                    <h2>
                        {{ talk.title }}
                        {% if talk.extra.speaker %}
                        {% set speaker_slug = talk.extra.speaker | slugify %}
                        {% set speaker = get_page(path="speakers/" ~ talk.extra.speaker ~ ".md") %}
                        &ndash; {{ speaker.title }}
                        {% endif %}
                    </h2>
                    {{ talk.content | safe }}
                {% endfor %}
            {% endif %}
        </div>

        {{ macros::event_metadata(event=page) }}
    </article>
{% endblock content %}
