{% extends "base.html" %}
{% block language %}en{% endblock language %}
{% block content %}
    <h1>{{ page.title }}</h1>
    {% if page.extra.meetup %}
        <p>
            <a href="{{ page.extra.meetup }}">Meetup</a>
        </p>
    {% endif %}

    <div class="markdown-content">
        {{ page.content | safe }}
    </div>
    {% if page.extra.talks %}
        {% for talk_slug in page.extra.talks %}

            {% set talk = get_page(path="talks/" ~ talk_slug ~ ".md") %}
            <h2>
                {{ talk.title }}
                {% if talk.extra.speaker %}
                {% set speaker_slug = talk.extra.speaker | slugify %}
                {% set speaker = get_page(path="speakers/" ~ talk.extra.speaker ~ ".md") %}
                — {{ speaker.title }}
                {% endif %}
            </h2>

            <div class="markdown-content">
                {{ talk.content | safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
