name: Updates next meetup date

on: 
  workflow_dispatch:
  schedule: 
    - cron: "*/6 * * * *" 

jobs:
  build:

    runs-on: ubuntu-latest  

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
      - name: Update next date
        working-directory: ./scripts
        run: go run next_date.go
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: Updates next meetup date"
          title: "chore: Updates next meetup date"
